.DS_Store
*~
*.userprefs
*.user
*.pidb
*.suo
*.DotSettings
.vs
bin
obj
*.swp

*.nupkg
nuspec/*.dll
nuspec/*.mdb

packages/*
packages/repositories.config
AppPackages/

TestResult.xml
Resource.designer.cs

*.msi
*.PARAFFIN

*.idea
